*{
	background-color: rgb(232, 238, 232);
	border-bottom-color: rgb(20, 0, 0);
	im
}
button{
	background-color: white;
}
*{
	h4{
		color: rgb(14, 125, 222);
		font: 1em sans-serif;
		padding-block-start: 0cqmax;
image-rendering: initial;
scrollbar-highlight-color: aqua;
	}
	border: 0cqmax;
	overscroll-behavior-block: auto;
	/* cursor: all-scroll; */
	contain-intrinsic-block-size: 100;
	table-layout: calc(10);
	shape-image-threshold: initial;
}
#search-popup{
	color: aqua;
}
img{
	padding-top: var(background-color);
}
.login{
	border: 3px;
	font-style: oblique;
	color: rgb(41, 27, 236);
	background-color: black;

}
.name{
	font-size: 5px;
	color: black;
	font-variant: inherit;
	border: 3px;
	border-color: black;
	background-color: aqua;
}
.vishal{
	height: 100px;
	width: 100px;
	background-color: blue;
	position: relative;
	top: 10%;
}
.sagar{
	height: 300px;
	width: 168px;
	background-color: red;
	position: sticky;
	top: 500px;
	left: 20px;
}
.shiva{
	background-color: pink;
	height: 300px;
	width: 168px;
	position:fixed;
	top: 200px;
	left: 800px;

}
.sham{
	height: 100px;
	width: 100px;
	background-color: rgb(0, 255, 72);
	position: absolute;
	top: 10px;
}